.main {
	width: 30%;
	margin: 20px auto;
	border: 2px solid #d7d7d7;
	border-bottom: 0px;
	border-radius: 4px;
	text-align: center;
	color: #f2f2f2;
	font-family: sans-serif;
}
h1 {
	text-align: center;
	padding: 20px 0;
	background: #5c8297;
	margin-top: 0;
}
.additem {
	position: relative;
	padding-bottom: 0px;
	height: 30px;
}
.addtodo {
	width: 70%;
	height: 30px;
	padding: 5px;
	font-size: 20px; 
}
.additembtn {
	width: 75px;
	height: 45px;
	cursor: pointer;
}