<div class="main">
	<h1>Late Night ToDo</h1>

	<div class="additem">
		<input type="text" [(ngModel)] = "newItem" class="addtodo" placeholder="Add Item">
		<button (click) = "newItemPush()" type="button" class="additembtn">Add Item</button><br>
		<small *ngIf = "showError" class="err">You can't have an empty Item!</small>
	</div>

	<ul>
		<li *ngFor = "let item of todos; let id = 'index'">
			{{item}}
			<span class="del" (click) = "removeItem(id)">X</span>
		</li>
	</ul>
</div>
<!-- ./main div -->