.main {
	width: 30%;
	margin: 20px auto;
	border: 2px solid #d7d7d7;
	border-bottom: 0px;
	border-radius: 4px;
	text-align: center;
	color: #f2f2f2;
	font-family: sans-serif;
}
h1 {
	text-align: center;
	padding: 20px 0;
	background: #5c8297;
	margin-top: 0;
}
.additem {
	position: relative;
	padding-bottom: 0px;
	height: 50px;
}
.addtodo {
	width: 70%;
	height: 30px;
	padding: 5px;
	font-size: 20px; 
}
.additembtn {
	width: 75px;
	height: 45px;
	cursor: pointer;
}
.err {
	position: relative;
	color: red;
}
ul {
	list-style: none;
	font-size: 20px;
	color: #686868;
	margin-left: -40px;
	margin-bottom: 0px;
}
li {
	border: 1px solid #bfbfbf;
	background: #d7d7d7;
	padding: 10px 0;
	margin-bottom: 5px;
}
span.del {
	color: red;
	font-size: 24px;
	cursor: pointer;
	position: relative;
	float: right;
	margin-right: 20px;
}
span.del:hover {
	font-weight: bolder;
}